{% extends 'base.html' %}

{% block content %}
<body class="homepage-container" id="homepage">
<link rel="stylesheet" href="/static/css/style.css"/>

<div class="home-header" id="site-title"> 
  <h1> Let's go somewhere together.</h1>
<br>
<p class="hygge" id="hygge-intro">

  <span class="bolden">hygge</span> / pronounced: hyoo-gah / noun: a quality of coziness and comfortable conviviality that engenders
  a feeling of contentment or well-being (regarded as a defining characteristic
  of Danish culture)

<br>
<br>
  Log in for some <span class="bolden">hygge.</span>
<br>
<div class="col-6" id="login">
  <!-- <button type="button" class="btn btn-outline-success">Test Log In</button> -->
<a class="btn btn-outline-success" href="/login" role="button" id="login-btn">Test Log in</a>
<a class="btn btn-primary" href="/login" role="button" id="login-btn">Log in</a>
<a class="btn btn-primary" href="/signup" role="button" id="signup-btn">Sign up here</a>
</p>
</div>
</div>


</body>
{% endblock %}