{% extends "base.html" %}
{% block title %} Log in {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/style.css" />
<div class="login-bg" id="login-details">
  <h1>Please log in.</h1>
<!-- 
  <form action="/login" method="POST" id="login_form">
        <label for="fname"> First name: </label>
        <input type="fname" name="fname">
    <br>
        <label for="email"> Email: </label>
        <input type="email" name="email">
    <br>
        <label for="password"> Password: </label>
        <input type="password" name="password">
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="login-btn">Sign In
    </button> -->
    <!-- true is above -->
    <form action="/login" method="POST" id="login_form">
      <div class="form-group">
        <label for="fname">First name</label>
        <input type="fname" class="form-control" id="fname" aria-describedby="fname">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}