{% extends "base.html" %}
{% block title %} Log in {% endblock %}

{% block content %}
  <h1>Please log in.</h1>
  <form action="/login" method="POST" id="login_form">
        <label for="fname"> First name: </label>
        <input type="fname" name="fname">
    <br>
        <label for="email"> Email: </label>
        <input type="email" name="email">
    <br>
        <label for="password"> Password: </label>
        <input type="password" name="password">
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In
    </button>
  </form>
{% endblock %}