{% extends "base.html" %}
{% block title %}Create a new trip{% endblock %}

{% block content %}
<body class="new-trips" id="new-trips">
  <link rel="stylesheet" href="/static/css/style.css" />
<div class="new-trips-display">
  <h1>{{session['fname']}}, let's create a new trip!</h1>
  <br>
<form action="/trips/new" method="POST" id=create_trip>
<label for="trip_name"> Trip name: </label>
<br>
<input type="trip_name" name="trip_name">
<br>
<!-- insert date /time -->
<label>Invite friends:</label>
<br>
<textarea id="email" name="email" placeholder="Enter a list of emails, one on each line"></textarea>
<br>
<br>
<button class="btn btn-outline-dark" type="submit">Create Trip
</button>
</form>
</div>
</body>
{% endblock %}