{% extends "base.html" %}
{% block title %} Sign up {% endblock %}

{% block content %}
<body class="signup-display" id="signup">
<link rel="stylesheet" href="/static/css/style.css" />

<div class="signup-details" id="signup-details">
  <h1>Please create a profile.</h1>
  <form action="/signup" method="POST" id="sign-up form">
    <label for="first-name"> First Name:</label>
    <input type="fname" name="fname">
<br>
    <label for="last-name"> Last Name:</label>
    <input type="lname" name="lname">
<br>
    <label for="email"> Email: </label>
    <input type="email" name="email">
<br>
    <label for="password"> Password: </label>
    <input type="password" name="password">
<br>
    <button class="btn btn-outline-dark" type="submit" id="signin-btn">Create profile
    </button>
  </form>
  </div>
  </body>
{% endblock %}