{% extends "base.html" %}
{% block title %} We're going to {{ destination }}! {% endblock %}

{% block content %}
<h4> Attendees: </h4>
<ul>
<li> {{ trip_attendees }}</li>
<h4>Invite a friend to your trip:</h4>   
<form action="/trips/{{ trip_id }}" method="POST" id=find_user>
 <li><label>First name: </label> 
    <input type="text" name="first name"> </li>  
<li><label>Last name: </label> 
    <input type="text" name="last name"> </li>  
<li> <label>Email: </label> 
    <input type="text" name="email"> </li>  
    <input type="submit">
</form>
</ul>
<h4> Events </h4>
<ul id="events_list"></ul>
<button id="add-event-button"> Add an event </button>
<!-- <input type=button onclick="location.href='/trips/{{trip_id}}/event/new'" value="Add new event"> -->

<!-- new below here -->
<!-- 
<form action="/trips/{{trip_id}}/event/new" method="POST" id=create_event>
<label for="event_name"> Event name: </label>
<input type="event_name" name="event_name">
<br>

<textarea id="event_info" name="event" placeholder="Describe event"></textarea>
<button class="create_event" type="submit">Create Event
</button>

<input type=button onclick="location.href='/trips/{{trip_id}}'" value= "Go back to trip page"> -->

{% endblock %}